---
---

<!DOCTYPE html>
<html lang="es" style="height: 100%; width: 100%;">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/logo 4s.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4sens.io - Shopify Agency</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="height: 100%; width: 100%; margin: 0; background-color: #070047; display: flex; align-items: center; justify-content: center;"
  >
  <style>
	* {
		font-family: "Krona One", serif;
	}
  </style>
    <img
      src="4SENS BG WALLPAPER DESKTOP.png"
      alt="4sens.io - Shopify Agency"
      style="width: 100%; object-fit: cover;"
    />
    <div
      style="position: absolute; top:65%; display: flex; flex-direction: column; align-items: center; gap:1rem; justify-content: center; color: white;"
    >
      <p style="margin:0; text-align: center;">Website under development, coming soon.</p>
      <p style="margin:0; text-align: center;">Contact us for desired services.</p>
      <p style="margin:0; text-align: center;">
        Email: <a style="color:white;" href="mailto:erik@4sens.io">erik@4sens.io</a>
      </p>
      <p style="margin:0; text-align: center;">
        Tel: <a style="color:white;" href="tel:+34611478722">+34 611 47 87 22</a>
      </p>
    </div>
  </body>
</html>
